{% load static %}
{% load vite %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Fefe{% endblock title %} | Dev Team Console</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  {% block page_css %}{% endblock page_css %}
  {% vite_hmr %}
  {% vite_asset 'src/main.jsx' %}
</head>
<body>
  {% block content %}{% endblock content %}
  <script src="{% static 'js/theme-toggle.js' %}"></script>
  <script src="{% static 'js/matrix-background.js' %}"></script>
  {% block page_js %}{% endblock page_js %}
</body>
</html>
